body, html, #body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #BB0000;
}.container{
	margin: 0 auto;
	text-align: center;
}

h1{
	text-align: center;
	font-family: Lato;
}

#images.imageOne{
	background-image: url("../img/cardale1.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	cursor: pointer;
}

#images.imageTwo{
	background-image: url("../img/cardale.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	cursor: pointer;
}

footer{
	text-align: center;
	padding: 20px;
	font-family: Lato;
}